<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
	<script src='./js/login.js'></script>
  </head>
  <body>

<form class="box">
  <h1>Login</h1>
  <input type="text" id="name" value="" placeholder="Email">
  <input type="password" id="pass" value="" name="" placeholder="Password">
  
  <a  id="at"><button class="login" onclick="check()" id="submitButton"> Login</button> </a>
  
  <br/> <p id="para1"></p>
	<a href="signup.html" ><div class="sign"  >Don't have an Account</div></a>  <br/> <p id="para2"></p>
</form>


  </body>
</html>
