<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SignUp</title>
	<link rel="stylesheet" href="./css/signup.css">
  </head>
  <body>
    <div class="signup-form">
      <form class="" action="index.html" method="post">
        <h1>Sign Up</h1>
        <input type="text" placeholder="Full Name" class="txtb">
        <input type="email" placeholder="Email" class="txtb">
        <input type="password" placeholder="Password" class="txtb">
        <input type="age" placeholder="Age" class="txtb">
        <input type="gender" placeholder="Gender" class="txtb">
        <input type="state" placeholder="State" class="txtb">
        <input type="city" placeholder="City" class="txtb">
        <a href="signup.html"><div class="signup-btn">Create account</div></a>
        <a href="/login">Already Have one ?</a>
      </form>
    </div>
  </body>
</html>
